@media screen and (max-width: 600px) {
    body{
        overflow: hidden;
    }
    .container{
        flex-direction: column;
    }
    header{
        flex-direction: column;
        height: 100%;
        width: 75%;
        background: white;
        padding: 1em 1em;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: 0.4s;
        box-shadow: none;
        z-index: 4;
    }
    header.visible{
        transform: translateX(0px);
    }
    nav{
        margin-top: 20px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        padding: 1.4em 1em;
        justify-content: center;
        border-bottom: 1px solid #d6d6e3;
    }
    nav ul li a.active{
        border-bottom: 1px solid #d6d6e3;
    }
    .btn-menu{
        display: block;
    }
    .overlay.visible{
        opacity: 1;
        z-index: 3;
    }
    .panelInfo{
        position: absolute;
        transform: translateY(91%);
        z-index: 3;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0em 0em 0.4em rgba(0,0,0,0.3);
        transition: 0.5s;
    }
    .panelInfo.up{
        transform: translateY(5%);
    }
    .handler{
        display: block;
    }
}