*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
.others{
    color: #181640;
    color: #221f59;
}
.container{
    display: flex;
}
.containerMap{
    width: 100%;
    height: 100vh;
    position: relative;
}
#map {
    width: 100%;
    height: 100vh;
}
.toolbox{
    z-index: 1 !important;
    top: 80px !important;
}
#controls #info h4 {
    font-weight: 500;
    margin-bottom: 15px;
}
.mapboxgl-ctrl-top-left{
    top: 70px !important;
}
.panelInfo{
    width: 100%;
    max-width: 400px;
    background: white;
    height: 100vh;
    overflow-y: scroll;
}
.handler {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.3em 0.5em;
    display: none;
}
.handler .line{
    width: 100px;
    height: 4px;
    border-radius: 1em;
    background: #221f59;
    margin: 0 auto;
}
header{
    padding: 0em 1em;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background:  rgba(255,255,255,0.99);
}
nav {
    padding: 0em 1em 0em 0em;
}
nav ul {
    display: flex;
    height: 100%;
}
nav ul li {
    height: 100%;
}
nav ul li a {
    color: #221f59;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-bottom: 3px solid transparent;
    transition: 0.4s;
}
nav ul li a.active{
    border-bottom: 3px solid #221f59;
}
nav ul li a:hover{
    background: #E8EBF2;
}
.contLogo{
    padding: 0.2em;
    text-align: center;
}
.contLogo img {
    width: 100%;
    max-width: 120px;
}
.btn-menu{
    display: none;
    background: white;
    border-radius: 50%;  
    position: absolute;
    top: 10px;
    left: 10px; 
    z-index: 2;
    height: 55px;
    width: 55px;
    padding: 0.3em;
    box-shadow: 0em 0em 0.4em rgba(0,0,0,0.2);
}
.btn-menu svg{
    color: #221f59;
}
.overlay{
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    transition: 0.8;
}
section.content{
    padding: 5em 1.5em 2em 1.5em;
}
section.content label{
    font-size: 12px;
    color: #181640;
}

section.content select{
    padding: 0.8em;
    border-radius: 0.7em;
    border: solid 2px #d6d6e3;
    margin-top: 5px;
    color: #221f59;
    width: 100%;
    font-size: 18px;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%221f59' height='38' viewBox='0 0 34 24' width='38' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
.title{
    text-transform: uppercase;
    color: #221f59;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}
.hr{
    margin: 5px 0;
    width: 100%;
    height: 1px;
    background: #d6d6e3;
}
.contSpinner{
    position: relative;
    width: 100%;
}
.infoCandidate{
    display: flex;
    margin-top: 10px;
    opacity: 0;
}
.infoCandidate.visible{
    animation: infoCandidate 1s forwards;
}
.infoCandidate.hidden{
    animation: fadeOut 1s forwards;
}
.picture{
    width: 100%;
    max-width: 105px;
    height: 96px;
    border-radius: 0.5em;
    background-size: cover;
}
.textInfo{
    padding-left: 0.7em;
    width: 100%;
}
.textInfo .icon{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.textInfo .icon .contentIcon{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: gray;
    border-radius: 100%;
    align-self: flex-end;
}
.textInfo .icon .contentIcon svg{
    color: white;
    width: 100%;
}

.ranking{
    font-size: 18px;
    font-weight: 700;
    color: #221f59;
}
.allVotes{
    font-size: 14px;
    font-weight: 500;
    color: #221f59;
}
.percentage{
    padding-right: 1em;
}
.percentage .number{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    color: gray;
}
.percentage .bar{
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 3px;
    margin-top: 4px;
}
.bar div.fill{
    width: 0%;
    background: gray;
    height: 100%;
}
.contentTable{
    padding: 1em 2em;
    background-color: #f5f5f5;
    margin-top: 15px;
    opacity: 0;
}
.contentTable.visible{
    animation: infoCandidate 1s forwards;
    animation-delay: 0.4s;
}
.contentTable.hidden{
    animation: fadeOut 1s forwards;
}
.contentTable h2{
    color:#221f59;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
.stadistic{
    margin-bottom: 10px;
}
.stadistic .name{
    color: #8d827f;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.stadistic .line{
    background: #f5e5e0;
    height: 7px;
    width: 100%;
    margin-top: 3px;
}
.stadistic .line .fill{
    background: #8d827f;
    height: 100%;
    width: 0%;
    animation: stadisticAnim 2s forwards;
    animation-delay: 1.5s;
}

.stadistic.selectCandidate .name {
    color: #f35a27;
}
.stadistic.selectCandidate .line .fill{
    background: #f35a27;
}

/*---- COLORS FOR COUNT VOTES -------*/
.textInfo .icon .contentIcon.good{
    background: #3fbc69;
}
.percentage .number.good{
    color: #3fbc69;
    opacity: 0;
    animation:  fadeIn 1.2s forwards;
    animation-delay: 1.7s;

}
/* .bar div.fill.good{
    animation: myAnim 3s forwards;
    animation-delay: 0.5s; 
} */
.textInfo .icon .contentIcon.medium{
    background: #FDD835;
}
.percentage .number.medium{
    color: #FDD835;
}
/* .percentage .bar div.fill.medium{
    background: #FDD835;
} */
.textInfo .icon .contentIcon.bad{
    background: #f44336;
}
.percentage .number.bad{
    color: #f44336;
}
/* .percentage .bar div.fill.bad{
    background: #f44336;
} */

/* ------- ANIMATIONS --------- */
@keyframes myAnim {
    0%   { width: 0%;background: #f44336;}
    33%  { background: #f44336;}
    66%  { background: #FDD835;}
    100% { width: 55%;background: #3fbc69;}
}
@keyframes infoCandidate {
    0%{opacity:0; transform: translateY(50px);}
    100%{opacity:100; transform: translateY(0);}
}
@keyframes stadisticAnim {
    0%   { width: 0%;}
    100% { width: 55%;}
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeOut {
    0%{opacity: 1; transform: translateY(0);}
    100%{opacity: 0; transform: translateY(50);}
}

/* ----- styles spinner -------- */
.sk-fading-circle {
    margin: 40px auto 0px auto;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #221f59;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }

