<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Democracy</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/stylesHome.css">
    <link rel="stylesheet"  type="text/css" href="../static/styles/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/973287a624.js" crossorigin="anonymous"></script>
</head>
<body class="scroll">

    <div class="btn-menu">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </div>
    <header>
        <div class="contLogo">
            <img src="../static/images/Logo-header.svg" alt="">
        </div>
        <nav>
            <ul>
                <li><a class = "active" href="/">Home</a></li>
                <li><a  href="/demo">Demo</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="containerHome">
        <section class="contentHomeHead">
            <div class="contentHead">
                <div id="textHead">
                    <h1>Open Democracy</h1>
                        <p> 
                            We are the first free platform to interactively visualize complex data for electoral purposes and designed to facilitate data analysis. 
                            <b>Through data we empower citizens</b>, organized groups and parties to be more competitive and make our democracy better.

                            
                        </p>
                        <a href="#contentHow" class="moreInfoButton">More info</a>
                        <a href="/demo" class="viewDemoButton"><b>View Demo</b></a>
                </div>
            </div>
            <div id="imageHead" class="contentHead">
                <img id="mapGif"  src="../static/images/maps.gif" />
            </div>
            
        </section>

    </div>

    <div class="containerHomeHow">
        <section id="contentHow" class="contentHow">
            <h1>HOW ARE WE CHANGING POLITICS? </h1>
            
        </section>
    </div>

    <div class="containerFeatures">
        <section class="contentFeat1">
            <div class="containerFeatures1 text">
                <h1><u class="underline">Select a </u>candidate</h1>
                <br />
                <p> 
                    Unleash Open Democracy’s data visualization capacities to <b>understand the 2019 electoral process</b> results in Cali, Colombia. Very soon you will find a lot more datasets of other elections and cities.
                    
                </p>
            </div>
            <div class="containerFeatures1">
                <img class="image2map" src="../static/images/map-function-1.jpg" />
            </div>
        </section>
        <section class="contentFeat2">
            
            <div  class="containerFeatures2">
                <img class="image1map" src="../static/images/map-function-2.jpg" />
            </div>
            <div  class="containerFeatures2 text">
                <h1><u class="underline">Navigate the</u> polling places</h1>
                <br />
                <p> 
                    Hover the different points to get information about the <b>total amount of ballots</b> in favor of the candidate, the polling place name and more. Points size and colour hint you about how good the result was.
                    
                </p>
            </div>
           
        </section>
        <section class="contentFeat1">
            <div  class="containerFeatures1 text">
                <h1><u class="underline">Aggregate</u> data by Comuna</h1>
                <br />
                <p> 
                    Use this powerful feature to understand how Comunas' results impacted overall elections and <b>better plan where you should focus</b> the next political campaign efforts.
                    
                </p>
            </div>
            <div  class="containerFeatures1">
                <img class="image2map" src="../static/images/map-function-3.jpg" />
            </div>
        </section>
        <section class="contentFeat2">
            
            <div  class="containerFeatures2">
                <img class="image1map" src="../static/images/map-function-4.jpg" />
            </div>

            <div  class="containerFeatures2 text">
                <h1><u class="underline">Enable and</u> disable the layers</h1>
                <br />
                <p> 
                    Data is more valuable when you put it in context. Open Democracy’s layer features put together complex information for you to <b>have a better understanding</b> of the electoral process.
                    
                </p>
            </div>
            

        </section>
    </div>

    <div class="overlay"></div>

   
</body>
<footer class="myfeet">
    <p>Copyright @ Open Democracy. All rights reserved</p>
</footer>

<script src="../static/js/interactive.js"></script>
</html>
